
.shadow-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 2px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
}

.shadow-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 
              0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  border: none !important
}